<%= simple_form_for(@banner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= image_tag @banner.image.url(:medium), class: "img-thumbnail" if @banner.image.exists? %>
  	<%= f.input :image, as: :file, hint: "A imagem deve ter o tamanho 1900x350 pixels" %>
    <%= f.input :link, hint: "Endereço completo, no formato: http://semattersementes.com.br/xxx/xxx" %>
    <%= f.input :sequence, label: t('sequence'), hint: "Ordem na qual aparecerá no site" %>
  </div>

    <div class="actions text-right">
  		<%= link_to 'Cancelar', :back, :class => 'btn btn-default' %>
	  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
	  <% end %>
    </div>
<% end %>
<hr>