<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Inical', root_path %></li>
  <li class="active">Ciclos</li>
</ol>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h2><%= t("cycles") %></h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-right">
        <h2>
          <%= link_to new_cycle_path, :class => 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span> Adicionar
          <% end %>
        </h2>
      </div>
    </div>
  </div> <!-- /.row -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('name') %></th>
      </tr>
    </thead>

    <tbody>
      <% @cycles.each do |cycle| %>
        <tr>
          <td><%= link_to cycle.name, cycle %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><!-- /.container -->