<!-- Carousel -->

<div id="carousel-sematter" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  <% @banners.each_with_index do |banner, index| %>
            <%=
            if index == 0
                render inline: "<li data-target='#carousel-sematter' data-slide-to='#{index}' class='active'></li>"
            else
                render inline: "<li data-target='#carousel-sematter' data-slide-to='#{index}'></li>"
            end %>
        <% end %>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
 
        <% btn = image_path('bt-saiba-mais.png') %>
           <% @banners.each_with_index do |banner, index| %>
            <%=          
                if index == 0
                    render inline: "
                                    <div class='item active'>
                                      <div onclick=\"javascript:location.href='#{banner.link}'\" class='fill' style=\"background-image:url('#{banner.image.url(:original)}');\">
                                      </div>
                                    </div>
                    "
                else
                    render inline: "
                                    <div class='item'>
                                      <div onclick=\"javascript:location.href='#{banner.link}'\" class='fill' style=\"background-image:url('#{banner.image.url(:original)}');\">
                                      </div>
                                    </div>
                    "
                end %>
            <% end %>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-sematter" role="button" data-slide="prev">
 <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-sematter" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
<div class="faixa-saiba-mais">
  <div class="container">
    <div class="row welcome-margens">
      <div class="col-lg-offset-1 col-lg-3 col-md-3 col-sm-3">
      <%= scroll_reveal animation: 'enter left, after 0.1s' do %>
        <div id="o-que-e-adubacao-verde" class="text-center">
          <span class="welcome-titulos">O que é <br><strong>adubação verde</strong>?</span>
          <h3>
          <%= link_to page_path('adubacao-verde'), class: 'link-leia-mais' do %>
            <%= image_tag 'welcome-btn-leia-mais.png', alt: "Leia mais" %>
          <% end %>
          </h3>
        </div>
        <% end %>
      </div><!-- /col -->
        <div class="col-lg-offset-1 col-lg-3 col-md-3 col-sm-3">
        <%= scroll_reveal animation: 'enter left, after 0.4s' do %>
          <div id="conheca-o-raix" class="text-center">
          <span class="welcome-titulos">Conheça o<br></span>
          <%= image_tag 'welcome-raix-small.png', alt: 'Raíx' %>
          <h3>
          <%= link_to page_path('raix'), class: 'link-leia-mais' do %>
            <%= image_tag 'welcome-btn-leia-mais.png', alt: "Leia mais" %>
          <% end %>
          </h3>
        </div>
        <% end %>
      </div><!-- /col -->
        <div class="col-lg-offset-1 col-lg-3 col-md-3 col-sm-3">
        <%= scroll_reveal animation: 'enter left, after 0.7s' do %>
        <div id="fique-por-dentro" class="text-center">
          <span class="welcome-titulos">Fique por dentro<br><strong>Blog da Sematter</strong></span>
          <h3>
          <%= link_to news_index_path, class: 'link-leia-mais' do %>
            <%= image_tag 'welcome-btn-leia-mais.png', alt: "Leia mais" %>
          <% end %>
          </h3>
        </div>
        <% end %>
      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container -->
</div>
<%= render partial: 'layouts/faixinha-verde' %>
<div class="container">
<%= scroll_reveal animation: 'enter right' do %>
    <div class="row welcome-margens">
      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <%= image_tag 'welcome-depoimento.jpg', alt: "Depoimento", class: 'img-circle' %>
      </div><!-- /col -->     
      <div class="col-lg-8 col-md-8 col-sm-8">
        <p class="lead text-center">
        “Sempre fui um preservador do solo da nossa região. A gente sempre trabalhou com cobertura de inverno. A Sematter me deu assessoria e trouxe esse mix de adubação verde que se saiu muito bem. O resultado não tem o que discutir. É ótimo.”
        </p>
        <p class="lead text-right">
        Agenor Minatto, produtor de trigo<br>
        milho e soja de Pranchita, Sudoeste do Paraná
        </p>
      </div><!-- /col -->         
    </div><!-- /row -->
<% end %>
</div><!-- /container -->

<div id="qual">
<%= scroll_reveal animation: 'enter left move 50px' do %>
    <div class="container transparencia">
        <h2 class="text-center">QUAL É O RAIX INDICADO PARA O MEU USO?</h2>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <%= form_tag(products_path, :role => 'search', :method => :get) do %>
          <div class="form-group">
            <label class="control-label" for="cultivation">Cultura Comercial</label>
              <select name="cultivation" class="form-control" id="cultivation">
                <option value="">Escolha</option>
                <% Cultivation.all.collect do |p| %>
                <option value="<%= p.id %>"><%= p.name %></option>
                <% end %>
              </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="cultivation">Intervalo entre as culturas comerciais</label>
            <select name="cycle" class="form-control" id="cycle">
              <option value="">Escolha</option>
              <% Cycle.all.collect do |p| %>
              <option value="<%= p.id %>"><%= p.description %></option>
              <% end %>
            </select>
          </div>
          <div class="actions">
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
              <span class="glyphicon glyphicon-zoom-in"></span> Buscar
            <% end %>
          </div>
          <% end %>
        </div><!-- /col -->
    </div><!-- /row -->
    </div><!-- /container -->
    <% end %><!-- /scrollrevealjs -->
</div><!-- /qual -->

