<!-- Carousel -->
    <!-- Full Page Image Background Carousel Header -->
        <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        <% @banners.each_with_index do |banner, index| %>
            <%=
            if index == 0
                render inline: "<li data-target='#myCarousel' data-slide-to='#{index}' class='active'></li>"
            else
                render inline: "<li data-target='#myCarousel' data-slide-to='#{index}'></li>"
            end %>
        <% end %>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
        <% btn = image_path('bt-saiba-mais.png') %>
           <% @banners.each_with_index do |banner, index| %>
            <%=          
                if index == 0
                    render inline: "
                                    <div class='item active'>
                                    <!-- Set the first background image using inline CSS below. -->
                                        <div class='fill' style=\"background-image:url('#{banner.image.url(:original)}');\"></div>
                                        <div class='carousel-caption'>
                                            <h2><a href='#{banner.link}'><img src='#{btn}' class='img-responsive center-block bt-saiba-mais'></a></h2>
                                        </div>
                                    </div>
                    "
                else
                    render inline: "
                                    <div class='item'>
                                    <!-- Set the second background image using inline CSS below. -->
                                        <div class='fill' style=\"background-image:url('#{banner.image.url(:original)}');\"></div>
                                        <div class='carousel-caption'>
                                            <h2><a href='#{banner.link}'><img src='#{btn}' class='img-responsive center-block bt-saiba-mais'></a></h2>
                                        </div>
                                    </div>
                    "
                end %>
            <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </header>
<!-- /Carousel -->
<div id="qual">
    <div class="container">
        <h2 class="text-center">QUAL É O RAIX INDICADO PARA O MEU USO?</h2>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
        <%= form_tag(products_path, :role => 'search', :method => :get) do %>
          <div class="form-group">
          <label class="control-label" for="data-raix">Data do plantio do Raix</label>
            <div class='input-group date datepicker'>                
                <%= text_field_tag 'data-raix', nil, placeholder: 'Data do plantio do Raix', :class => 'form-control datepickerinput' %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </div>
          <div class="form-group">
          <label class="control-label" for="data-raix">Data do plantio do Raix</label>
            <div class='input-group date datepicker'>                
                <%= text_field_tag 'data-cultura', nil, placeholder: 'Data do plantio da sua cultura comercial', :class => 'form-control datepickerinput' %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </div>
        <div class="form-group">
        <label class="control-label" for="cultivation">Cultura Comercial</label>
                    <select name="cultivation" class="form-control" id="cultivation">
                      <option value="">Cultivo</option>
                      <% Cultivation.all.collect do |p| %>
                      <option value="<%= p.id %>"><%= p.name %></option>
                      <% end %>
                    </select>
                  </div>
                 <%= button_tag(type: "submit", class: "btn btn-default") do %>
                    <span class="glyphicon glyphicon-zoom-in"></span> Buscar
                <% end %>
        <% end %>
        </div><!-- /col -->
    </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /qual -->

