<% @page_title = "Notícias - Sematter Sementes" %>
<% @content_title = "Notícias" %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h2>Editar Notícia</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-right">
        <h2>
		  <%= link_to :back, :class => 'btn btn-primary' do %>
		    <span class="glyphicon glyphicon-chevron-left"></span> Voltar
		  <% end %> 
		  <%= link_to news_path(@news), method: :delete, :class => 'btn btn-danger', data: { confirm: t('Are you sure?')  } do %>
		    <span class="glyphicon glyphicon-remove"></span> Apagar
		  <% end %> 
        </h2>
      </div>
    </div>
  </div> <!-- /.row -->
<%= render 'form', news: @news %>


<% if user_signed_in? and current_user.admin == true %>
  <div class="panel panel-default">
    <div class="panel-heading"><span class="texto-verde">Enviar fotos</span></div>
    <div class="panel-body">
      <% @news.photonoticias.each do |photonoticia| %>
    <p>
    <strong>#<%= photonoticia.id %></strong>

  <%= image_tag photonoticia.image.url(:thumb) %>
   <%= link_to 'DELETE', news_photonoticia_path(@news, photonoticia), class: 'btn btn-success btn-xs', method: 'delete', data: { confirm: t('Are you sure?')}  %>
    </p>
  <% end %>

  <%= form_for([@news, @news.photonoticias.build]) do |f| %>
    <p>
    <%= f.label :image, 'Foto' %><br />
    <%= f.file_field :image %>
    </p>
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
          <span class="glyphicon glyphicon-floppy-disk"></span> Enviar foto
      <% end %>
  <% end %>
    </div>
  </div><!-- /panel -->
<% end %>

</div><!-- /.container -->
