<% @page_title = "Notícias - Sematter Sementes" %>
<% @content_title = "Notícias" %>

<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Inical', root_path %></li>
  <li class="active">Notícias</li>
</ol>
  <div class="row">
    <div class="col-lg-12">
      <div class="text-right">
      <% if user_signed_in? and current_user.admin == true %>
        <h2>
          <%= link_to new_news_path, :class => 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span> Adicionar
          <% end %>
        </h2>
        <% end %>
      </div>
    </div>
  </div> <!-- /.row -->
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12" style="border-right: 1px solid #c4c4c4">
    <% @news.each do |news| %>
    <h4 class="titulo-noticia"><%= link_to news.title, news %></h4>    
    <%= social_share_button_tag(news.title) %>
    <h5 class="titulo-noticia"><%= news.abstract %></h5>
    <p>
      <%= image_tag news.photonoticias.first.image.url(:medium), align: 'left', class: 'img-thumbnail margem-10' if news.photonoticias.present?  %>
      <%= news.description.html_safe %>
      </p>
      <div class="clearfix"></div>
    <hr>
    <% end %>
    <%= paginate @news %>
    </div><!-- /col -->
    <div class="col-lg-4 col-md-4 col-sm-12">
      <%= render partial: 'ultimas' %>
    </div><!-- /col -->
  </div> <!-- /.row -->
</div><!-- /.container -->
