<% @page_title = "Adubação verde - Sematter Sementes" %>
<% @content_title = "Adubação Verde" %>

<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Inical', root_path %></li>
  <li class="active">Adubação Verde</li>
</ol>
	<%= scroll_reveal animation: 'enter left' do %>
 	<div class="row parte1 center-align">
 		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
 			<%# image_tag 'adubacao-arvores.png', alt: "Árvores", class: 'img-responsive', style: 'vertical-align: bottom' %>
 		</div><!-- /col -->
 		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	 		<h2 class="text-center" style="color:#bccf00; font-weight: bold">O que é adubação verde?</h2>
	 		<p class="lead paragrafo-dizeres">Não é segredo que  o principal fator de fertilidade do solo é a matéria orgânica disponível para a planta se desenvolver.
	 		</p>
	 		<p class="lead paragrafo-dizeres">Um solo rico em nutrientes será muito mais produtivo. Por exemplo, um desses nutrientes essenciais é o nitrogênio. Quanto maior a sua presença, maior será a produção de biomassa vegetal.
	 		</p>
 		</div><!-- /col --> 
 	</div><!-- /row -->
 	<% end %>
 	<%= scroll_reveal animation: 'enter right' do %>
 	<div class="row parte2 vertical-align">
 		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
 		<p class="lead paragrafo-dizeres">
 		A adubação verde é um método sustentável e ecologicamente correto de enriquecer o solo de diversas formas. Usando plantas especialmente selecionadas é possível ativar a ação de algumas bactérias que associam-se com as raízes destas plantas, fornecendo-lhe o nitrogênio e recebendo o carboidrato em troca. 
 		</p>
 		<p class="lead paragrafo-dizeres">
		Os nutrientes produzidos por essa iteração natural, além de serem muito importantes para a manutenção do metabolismo das plantas, também atuam diretamente na produção de substâncias, como as proteínas, que são essenciais para o crescimento das culturas comerciais como soja, feijão, canola, linhaça, milho, trigo, arroz, cana de açúcar e pastagens.
		</p>
 		</div><!-- /col -->  
 		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
 			<%= image_tag 'adubacao-troca.png', alt: "Troca", class: 'img-responsive', style: 'vertical-align: bottom' %>
 		</div><!-- /col -->  
 	</div><!-- /row -->
 	<% end %>
 	<%= scroll_reveal animation: 'enter left' do %>
 	<div class="row parte3 vertical-align">
 		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
 			<%= image_tag 'adubacao-raizes.png', alt: "Raizes", class: 'img-responsive', style: 'vertical-align: bottom' %>
 		</div><!-- /col -->   	
 		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
 		<p class="lead paragrafo-dizeres">
 		O grande desafio está na seleção destas plantas. É muito importante que elas sejam robustas, resistentes às pragas e que produzam grande quantidade de massa seca, com sementes que tenham uma boa germinação e crescimento rápido, se desenvolvendo com muita facilidade.
 		</p>
 		<p class="lead paragrafo-dizeres">
		Há muitos benefícios em usar essa técnica entre uma cultura e outra. Se bem aplicada, há uma grande produção de biomassa. Além disso, com suas raízes pivotantes que penetram verticalmente no solo, favorecendo a penetração de umidade  e a captura de nutrientes presentes em camadas mais profundas.
		</p>
 		</div><!-- /col -->  
 	</div><!-- /row -->
 	<% end %>
 	<%= scroll_reveal animation: 'enter right' do %>
 	 <div class="row parte4 vertical-align">
 		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
 		<p class="lead paragrafo-dizeres">
 		Esse extenso sistema de raízes das serve para impedir a erosão do solo. Após o processo de decomposição da biomassa destas plantas selecionadas, os nutrientes serão disponibilizados para o desenvolvimento das plantas de cultivo comercial.
 		</p>
 		<p class="lead paragrafo-dizeres">
		Esses nutrientes são muito importantes para o desenvolvimento das culturas comerciais. Sem isso, a cultura não se desenvolve bem e pode até deixar de se reproduzir. Não é de surpreender que o uso e o cultivo de plantas tão versáteis na adubação verde tenham uma longa história.
		</p>
 		</div><!-- /col -->   	
 		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
 		<%= image_tag 'adubacao-crescimento.png', alt: "Crescimento", class: 'img-responsive', style: 'vertical-align: bottom' %>
 		</div><!-- /col -->  
 	</div><!-- /row -->
 	<% end %>
 	<%= scroll_reveal animation: 'enter left' do %>
 	<div class="row parte5 vertical-align">
 		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
 			<%= image_tag 'adubacao-paises.png', alt: "Mundo", class: 'img-responsive' %>
 		</div><!-- /col -->   	
 		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
 		<p class="lead paragrafo-dizeres">
		Funciona? Sim e muito bem. No mundo inteiro nota-se uma convergência para esse padrão de reconstrução do solo. Vários países já aderiram a esta técnica e estão tendo resultados surpreendentes. 
		</p>
 		<p class="lead paragrafo-dizeres">
 		E se...
		E se tivesse uma forma de combinar na proporção exata essas plantas inteligentes para a obtenção da melhor performance do solo? Queremos apresentar o Raíx para você. Saiba mais.
		</p>
 		</div><!-- /col -->  
 	</div><!-- /row --> 
 	<% end %>	
</div><!-- /container -->