<% @page_title = "Quem somos - Sematter Sementes" %>
<% @content_title = "Quem somos" %>

<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Inical', root_path %></li>
  <li class="active">Quem somos</li>
</ol>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4">
		<%= scroll_reveal animation: 'enter left move 50px, after 0.1s' do %>
 			<div class="saco-raix">
 				<%= image_tag 'raix-saco.jpg', alt: "Raíx", class: 'img-responsive img-thumbnail' %>
 			</div>
 		<% end %>
	</div><!-- /col -->
	<div class="col-lg-8 col-md-8 col-sm-8">
	<h2 style="color:#004438; font-weight: bold">A SEMATTER SEMENTES</h2>
	<%= scroll_reveal animation: 'enter bottom, after 0.3s' do %>
	<p class="lead paragrafo-dizeres">
	As soluções inovadoras e os expressivos resultados obtidos a campo rapidamente colocaram a <strong>Sematter Sementes</strong> em evidência. Fundada em 2009 em <strong>São Miguel do Oeste (SC)</strong>, a empresa é pioneira no desenvolvimento de técnicas para <strong>adubação verde.</strong>
	</p>
	<% end %>
	<%= scroll_reveal animation: 'enter bottom, after 0.3s' do %>
	<p class="lead paragrafo-dizeres">
	A formulação do <strong>Raíx</strong> fez da <strong>Sematter Sementes</strong> a pioneira no uso de <strong>mix de sementes</strong> para <strong>adubação verde</strong> e <strong>cobertura de solo</strong> no Brasil. As variedades do <strong>Raíx</strong> são elaboradas com diferentes composições e proporções de sementes, sendo precisamente calculadas e testadas para atender às diferentes necessidades de cada lavoura.
	</p>
	<% end %>	
	<%= scroll_reveal animation: 'enter bottom, after 0.3s' do %>
	<p class="lead paragrafo-dizeres">
	Desde o início, a empresa investe em <strong>pesquisas científicas</strong> e no <strong>desenvolvimento</strong> de soluções inovadoras, além de consultar e trabalhar ao lado de especialistas de renome <strong>internacional</strong>, como o francês <strong>Lucien Séguy</strong>.
	</p>
	<% end %>
	<%= scroll_reveal animation: 'enter bottom, after 0.3s' do %>
	<p class="lead paragrafo-dizeres">
	Atualmente a empresa atende a clientes e oferece o <strong>Raíx</strong>, diretamente ou através de revendas em diversas <strong>regiões agrícolas do Brasil</strong>. 
	</p>
	<% end %>
	<%= scroll_reveal animation: 'enter bottom, after 0.3s' do %>
	<p class="lead paragrafo-dizeres">
	Além de contribuir para o <strong>aumento da produtividade</strong>, a atuação da empresa contribui para a <strong>conservação do solo</strong> e coloca a <strong>agricultura</strong> brasileira no rumo a máxima <strong>produtividade</strong>.
	</p>
	<% end %>
	<%= scroll_reveal animation: 'enter bottom, after 0.3s' do %>
	<p class="lead paragrafo-dizeres">
	<strong><i>A Sematter tem paixão para inovar e poder para transformar!</i></strong>
	</p>
	<% end %>
	</div><!-- /col -->	
</div><!-- /row -->
</div><!-- /container -->
<%= scroll_reveal animation: 'enter bottom, after 0.3s' do %>
<div id="nosso-sonho">
	<div class="container transparencia">
	<h2>NOSSO SONHO, NOSSA GENTE E NOSSA HISTÓRIA</h2>
		<p class="lead">			
			Nossos princípios se dividem em grandes sonhos, pessoas excelentes e história íntegra:
			<ul>
				<li class="lead">
				Nosso sonho nos motiva a trabalhar juntos na mesma direção, unindo as pessoas para termos um mundo melhor, desenvolvendo uma agricultura forte, sustentável e cada vez mais produtiva e competitiva perante o cenário mundial.
				</li>
				<li  class="lead">
				Nossa equipe é formada por pessoas excelentes, comprometidas com o cliente e com os resultados. Esta combinação perfeita entre conhecimento e experiência garante a qualidade dos nossos produtos.
				</li>
				<li class="lead">
				Nossa história se baseia na liderança pelo exemplo pessoal. Integridade, credibilidade, trabalho duro e responsabilidade são essenciais para construirmos nosso grupo.
				</li>
			</ul>
		</p>	
	</div><!-- /container -->
</div><!-- /#nosso-sonho -->
<% end %>