<% @page_title = "Raíx - Sematter Sementes" %>
<% @content_title = "Raíx" %>

<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Inicial', root_path %></li>
  <li class="active">Raíx</li>
</ol>
<article>
 	<div class="row">
 		<div class="col-lg-4 col-md-4">
 		<%= scroll_reveal animation: 'enter left move 50px, after 0.1s' do %>
 			<div class="saco-raix">
 				<%= image_tag 'mistura-logo.jpg', alt: "Raíx", class: 'img-responsive img-thumbnail' %>
 			</div>
 		<% end %>
		</div><!-- /col -->
 		<div class="col-lg-8 col-md-8">
 		<%= scroll_reveal animation: 'enter bottom, move 50px, after 0.3s' do %>
	 		<h2 style="color:#004438; font-weight: bold">MIX DE SEMENTES PARA ADUBAÇÃO VERDE</h2>
	 		<p class="lead">O Raíx é um <strong>Mix de Sementes</strong> inovador para <strong>Adubação Verde</strong> e cobertura vegetal, capaz de transformar o solo nas entressafras. A combinação inteligente de plantas proporciona múltiplos benefícios para o solo, renovando os nutrientes de forma natural e melhorando aspectos físicos, químicos e biológicos.</p>
			<p class="lead">O resultado é um aumento expressivo do <strong>potencial produtivo</strong> das culturas comerciais semeadas posteriormente. Fazendo a manutenção inteligente do solo, o Raíx reduz custos e <strong>aumenta a produtividade</strong>, maximizando a <strong>lucratividade da lavoura</strong>.</p>
		<% end %>
		</div><!-- /col -->		
	</div><!-- /row --> 
</div><!-- /container --> 		
<div id="raix-fundo">
<div class="container">
 	<div class="row">
 	<%= scroll_reveal animation: 'enter bottom, move 100px, after 0.3s' do %>
 		<div class="col-lg-8 col-md-8">
 		<p class="text-center lead">As variedades do Raíx oferecem diferentes combinações de sementes para atender às necessidades especí­ficas de cada tipo de solo e objetivos do produtor. Todas as variedades proporcionam múltiplos benefícios ao solo e ganhos de produtividade na safra seguinte.</p>
		<p class="text-center lead">Para encontrar as misturas adequadas e as proporções perfeitas para cada variedade do Raíx, a Sematter Sementes investiu em estudos científi­cos rigorosos. Os testes foram conduzidos nas principais regiões produtoras do Brasil com a consultoria de pesquisadores de diversos países.
		</p>
 		</div><!-- /col -->
		<div class="col-lg-4 col-md-4">
		<div class="foto-adubacao-verde">
 		<%= image_tag 'adubacao_verde2.jpg', alt: 'Adubação verde', class: 'img-thumbnail' %>
 		</div>
 		</div><!-- /col -->
 		<% end %>		
 	</div><!-- /row -->
</div><!-- /container --> 
</div><!--/raix-fundo -->
<div class="culturas-faixa">
	<div class="container">
		<h2 style="font-weight: bold; color: #004438">Culturas que podem ser beneficiadas</h2>
		<p class="lead">
		A Adubação Verde ou cobertura vegetal, é uma tendência mundial de manejo de solo na entressafra e pode ser utilizada para bene­ficiar todas as culturas comerciais.
		</p>
		<div class="culturas-lista text-center">
				
		<%= scroll_reveal animation: 'enter top move 50px, after 0.2s' do %>
				<div class="cultura">
					<div class="cultura-titulo">Soja</div>
					<%= image_tag 'culturas/1_soja.png' %>
				</div>
		<% end %>
				
		<%= scroll_reveal animation: 'enter top move 50px, after 0.4s' do %>
				<div class="cultura"> 
					<div class="cultura-titulo">Feijão</div>
					<%= image_tag 'culturas/2_feijao.png' %>
				</div>
		<% end %>

		<%= scroll_reveal animation: 'enter top move 50px, after 0.6s' do %>
				<div class="cultura"> 
					<div class="cultura-titulo">Canola</div>
					<%= image_tag 'culturas/3_canola.png' %>
				</div>
		<% end %>

		<%= scroll_reveal animation: 'enter top move 50px, after 0.8s' do %>
				<div class="cultura"> 
					<div class="cultura-titulo">Linhaça</div>
					<%= image_tag 'culturas/4_linhaca.png' %>
				</div>
		<% end %>

		<%= scroll_reveal animation: 'enter top move 50px, after 1.0s' do %>
				<div class="cultura"> 
					<div class="cultura-titulo">Milho</div>
					<%= image_tag 'culturas/5_milho.png' %>
				</div>
		<% end %>

		<%= scroll_reveal animation: 'enter top move 50px, after 1.2s' do %>
				<div class="cultura"> 
					<div class="cultura-titulo">Trigo</div>
					<%= image_tag 'culturas/6_trigo.png' %>
				</div>
		<% end %>

		<%= scroll_reveal animation: 'enter top move 50px, after 1.4s' do %>
				<div class="cultura"> 
					<div class="cultura-titulo">Arroz</div>
					<%= image_tag 'culturas/7_arroz.png' %>
				</div>
		<% end %>

		<%= scroll_reveal animation: 'enter top move 50px, after 1.6s' do %>
				<div class="cultura"> 
					<div class="cultura-titulo">Cana</div>
					<%= image_tag 'culturas/8_cana.png' %>
				</div>
		<% end %>

		<%= scroll_reveal animation: 'enter top move 50px, after 1.8s' do %>
				<div class="cultura"> 
					<div class="cultura-titulo">Pastagens</div>
					<%= image_tag 'culturas/9_pastagens.png' %>
				</div>
		<% end %>		
				<div class="clearfix"></div>
		</div>
	</div><!-- /container --> 	
</div><!--/culturas-faixa -->
<div class="clearfix"></div>
<div class="container">
	<h2 style="font-weight: bold;color: #004438">Principais benefícios</h2>
	<div class="row">
		<div class="col-lg-4 col-md-4">
			<%= scroll_reveal animation: 'enter left, move 50px, after 0.3s' do %>
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><span class="texto-verde">FERTILIDADE</span></div>
			  <!-- List group -->
			  <ul class="list-group">
			  	<li class="list-group-item">Fixação Biológica de Nitrogênio</li>
				<li class="list-group-item">Reciclagem de Potássio, Enxofre e outros nutrientes</li>
				<li class="list-group-item">Melhoria na infiltração de água do solo</li>
				<li class="list-group-item">Diminuição da compactação do solo</li>
				<li class="list-group-item">Neutralização da acidez potencial do solo</li>
				<li class="list-group-item">Construção de estrutura do solo</li>
				<li class="list-group-item">Manutenção da temperatura do solo</li>
				<li class="list-group-item">Atividade da biomassa durante períodos de estiagem</li>
			  </ul>
			</div><!-- /panel -->
			<% end %>
		</div><!-- /col -->
		<div class="col-lg-4 col-md-4">
		<%= scroll_reveal animation: 'enter left, move 50px, after 0.6s' do %>
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><span class="texto-verde">RENTABILIDADE</span></div>
			  <!-- List group -->
			  <ul class="list-group">
				<li class="list-group-item">Aumento da produtividade na safra seguinte</li>
				<li class="list-group-item">Custos menores de manejo</li>
				<li class="list-group-item">Resistência da cultura posterior a estiagens</li>
				<li class="list-group-item">Conservação do solo</li>
				<li class="list-group-item">Utilização como forrageira</li>
				<li class="list-group-item">Tendência mundial de manejo dos solos para altas produtividades</li>
				<li class="list-group-item">Praticidade de implantação</li>
			  </ul>
			</div><!-- /panel -->
			<% end %>
		</div><!-- /col -->
		<div class="col-lg-4 col-md-4">
		<%= scroll_reveal animation: 'enter left, move 50px, after 0.9s' do %>
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><span class="texto-verde">EQUILÍBRIO</span></div>
			  <!-- List group -->
			  <ul class="list-group">
				<li class="list-group-item">Manutenção de inimigos naturais e agentes polinizadores</li>
				<li class="list-group-item">Controle de Nematoides</li>
				<li class="list-group-item">Controle de plantas infestantes (inclusive resistentes a herbicidas)</li>
				<li class="list-group-item">Fitorremediação do solo</li>
				<li class="list-group-item">Controle de doenças de caule e raiz <i>(Fusarium, Rhizoctonia, Sclerotinia, Macrophomina,
				Phomopsis, Phytophthora)</i></li>
				<li class="list-group-item">Equilíbrio ambiental</li>
				<li class="list-group-item">Adição de Biomassa de Raiz</li>
				<li class="list-group-item">Duração de palhada após dessecação (tempo de controle contra erosão)</li>
			  </ul>
			</div><!-- /panel -->
			<% end %>
		</div><!-- /col -->
	</div><!-- /row -->
	<!--
	<h2 style="font-weight: bold">Recomendações de Plantio</h2>
	<%# image_tag 'recomendacoes_plantio.png', alt: "Recomendações", class: 'img-responsive' %>
	-->
</div><!-- /container --> 	
<%= render partial: 'layouts/faixinha-verde' %>
<div class="culturas-faixa">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
			<h2 style="font-weight: bold;color: #004438">Produtos</h2>
			<%= image_tag 'raix-recomendacoes.png', alt: "Recomendações", class: 'img-responsive' %>
			</div><!-- /col -->
			<div class="col-lg-4 col-md-4 col-sm-4">
			<%= link_to resales_path, class: '' do %>
				<%= image_tag 'raix-onde-comprar.png', alt: "Onde comprar", class: 'img-responsive raix-onde-comprar' %>
			<% end %>
			</div><!-- /col -->
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
</div><!-- /produtos-faixa -->
</article>