<%= simple_form_for(@products_purposes_relation) do |f| %>
  <%= f.error_notification %>

  <%# @product_parent.name %>

  <div class="form-inputs">
  <%= f.association :product, :label => t('product'), disabled: true %>
  <%= f.association :purpose, :label => t('purpose'), disabled: true %>
  <%= f.input :stars, :label => t('stars') %>
  </div>

 	<div class="actions text-right">
  		<%= link_to 'Cancelar', :back, :class => 'btn btn-default' %>
	  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
	  <% end %>
    </div>
<% end %>
<hr>
