<p id="notice"><%= notice %></p>

<h1>Products Purposes Relations</h1>

<table>
  <thead>
    <tr>
      <th>Relacionamento</th>
      <th>Estrelas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products_purposes_relations.each do |products_purposes_relation| %>
      <tr>
      <td><%= products_purposes_relation.product.name %> <=> <%= products_purposes_relation.purpose.name %></td>
      <td><%= products_purposes_relation.stars %></td>
        <td><%= link_to 'Show', products_purposes_relation %></td>
        <td><%= link_to 'Edit', edit_products_purposes_relation_path(products_purposes_relation) %></td>
        <td><%= link_to 'Destroy', products_purposes_relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Products Purposes Relation', new_products_purposes_relation_path %>
