<%= simple_form_for(@resale) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => t('name'), autofocus: true %>
    <%= f.input :company_name, :label => t('company_name')  %>
    <%= f.input :cnpj, :label => t('cnpj')  %>
    <%= f.input :address, :label => t('address')  %>
    <%= f.input :neighborhood, :label => t('neighborhood')  %>
    <%= f.input :cep, :label => t('cep')  %>
    <%= f.input :city, :label => t('city')  %>
    <%= f.input :province, :collection => [
        ['AC','AC'],
        ['AL','AL'],
        ['AM','AM'],
        ['AP','AP'],
        ['BA','BA'],
        ['CE','CE'],
        ['DF','DF'],
        ['ES','ES'],
        ['GO','GO'],
        ['MA','MA'],
        ['MG','MG'],
        ['MS','MS'],
        ['MT','MT'],
        ['PA','PA'],
        ['PB','PB'],
        ['PE','PE'],
        ['PI','PI'],
        ['PR','PR'],
        ['RJ','RJ'],
        ['RN','RN'],
        ['RO','RO'],
        ['RR','RR'],
        ['RS','RS'],
        ['SC','SC'],
        ['SE','SE'],
        ['SP','SP'],
        ['TO','TO'],
        ['ESTRANGEIRO','ESTRANGEIRO'],
      ], prompt: t('select'), :label => t('province') %>
    <%= f.input :phone, :label => t('phone')  %>
    <%= f.input :email, :label => t('email')  %>
    <%= f.input :territory, label: t('territory') %>
  </div>

    <div class="actions text-right">
      <%= link_to 'Cancelar', :back, :class => 'btn btn-default' %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
    <% end %>
    </div>
<% end %>
<hr>
