<% @page_title = "Representantes - Sematter Sementes" %>
<% @content_title = "Onde comprar" %>
<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Inicial', root_path %></li>
  <li class="active">Representantes</li>
</ol>
  <% if user_signed_in? and current_user.admin == true %>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h2>Representantes</h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="text-right">
          <h2>   
            <%= link_to new_resale_path, :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span> Adicionar
            <% end %>
          
          </h2>
        </div>
      </div>
    </div> <!-- /.row -->
  <% end %>
</div><!-- /.container -->
  <div class="resales-faixa">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <h3 style="color: #004438" class="visible-lg visible-md"><strong>ESCOLHA O ESTADO ONDE DESEJA ADQUIRIR OS PRODUTOS DA SEMATTER E ENCONTRE A REVENDA MAIS PRÓXIMA</strong></h3>
        <h4 style="color: #004438" class="visible-sm visible-xs"><strong>ESCOLHA O ESTADO ONDE DESEJA ADQUIRIR OS PRODUTOS DA SEMATTER E ENCONTRE A REVENDA MAIS PRÓXIMA</strong></h4>
             <%# if params[:province].present?
             'Representantes para o estado de <strong>'.html_safe + params[:province] + '</strong>'.html_safe
                else
                  'Encontre seu representante'
                end
                %>
             
             <%# '<h3>Esolha um estado no mapa</h3>'.html_safe unless params[:province].present? %>
             <%= if params[:province].present? and @resales.empty?
             '<div class="well"><strong>Ainda não existem revendas autorizadas neste estado.</strong><br>
             Entre em contato diretamente com a Sematter pelo fone (49)3622-8263 ou pelo email comercial@semattersementes.com.br</div>'.html_safe 
             end 
             %>
                  <% @resales.each do |resale| %>
                    <div class="well">
                      <h3><strong><%= resale.city %> - <%= resale.province %></strong></h3>
                      <strong style="text-transform: uppercase;"><%= resale.name %></strong><br>
                     <%= resale.company_name %><br>
                      <%= resale.address %><br>
                      <%= resale.neighborhood %><br>
                      <%= 'CEP:' + resale.cep + '<br>'.html_safe if resale.cep.present? %>
                      <%= resale.city %> - <%= resale.province %><br>
                      Fone: <%= resale.phone %><br>
                      <%= 'e-mail:' + resale.email + '<br>'.html_safe if resale.email.present? %>
                      Atua em: <%= resale.territory %>
                      <% if user_signed_in? and current_user.admin == true %>
                      <hr>
                        <%= link_to 'Editar Revenda', edit_resale_path(resale), class: 'btn btn-default' %>
                      <% end %>
                    </div>
                  <% end %>
            </div> <!-- /.col -->
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <%# scroll_reveal animation: 'enter right' do %>
              <%= render partial: 'map' %>
            <%# end %>
            </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div><!-- /.container -->    
  </div> <!-- /.resales-faixa -->    