<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <div class="panel panel-default">
    <%= image_tag(@product.photo(:thumb), alt: @product.name) if @product.photo.exists? %>
    <%= f.input :photo, as: :file, :label => 'Foto mistura', :hint => 'A foto deve ter o tamanho de 450x450px' %>
  </div>
    <%= f.input :name, :label => t('name') %>
    <%= f.input :description, :label => t('description') %>
    <%= f.association :cultivation, :label => t('cultivation'), as: :check_boxes %>
    <%= f.association :cycle, :label => t('cycle'), prompt: t('select') %>
    <%= f.association :purposes, :label => t('purposes'), as: :check_boxes,
      collection: Purpose.order('name ASC') %>

    <div class="actions text-right">
      <%= link_to 'Cancelar', :back, :class => 'btn btn-default' %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
    <% end %>
    </div>
  </div>
<% end %>
<hr>


<%
# f.association :purposes, 
#     as: :check_boxes,
#    collection: Purpose.order('name ASC') 
%>

 <%
#
# f.input :purpose_ids, :as => :check_boxes, label: "teste" do 
#
#
#         f.collection_check_boxes :purpose_ids, Purpose.all, :id, :name do |b|
#            b.check_box + b.label(:class => "teste")
 #         end 
# end 
 %>

    <%
#    f.simple_fields_for :products_purposes_relations do |p| 
#       p.input :stars
#      end 
%>

<%
#f.input :purpose_ids, :as => :check_boxes, label: "Propositos: " do 
#         f.collection_check_boxes :purpose_ids, Purpose.all, :id, :name do |b|
#            b.check_box + b.label() + email_field_tag('name')
#         end 
#end
%> 
<% 
#f.association :purposes, :label => t('purposes') do 
#      f.collection_check_boxes :purpose_ids, Purpose.all, :id, :name do |b|
#
#              simple_fields_for :products_purposes_relation do |p| 
#                b.check_box + b.label() + p.input(:stars)
#              end 
#          end 
#end
%>