<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h2>Editar <%= t("product") %></h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-right">
        <h2>
		  <%= link_to products_path, :class => 'btn btn-primary' do %>
		    <span class="glyphicon glyphicon-chevron-left"></span> Voltar
		  <% end %> 
		  <%= link_to product_path(@product), method: :delete, :class => 'btn btn-danger', data: { confirm: t('Are you sure?')  } do %>
		    <span class="glyphicon glyphicon-remove"></span> Apagar
		  <% end %> 
        </h2>
      </div>
    </div>
  </div> <!-- /.row -->
<%= render 'form', product: @product %>
<% if user_signed_in? and current_user.admin == true %>
  <div class="panel panel-default">
    <div class="panel-heading"><span class="texto-verde">Enviar fotos</span></div>
    <div class="panel-body">
      <% @product.photo_products.each do |photo_product| %>
    <p>
    <strong>#<%= photo_product.id %></strong>

  <%= image_tag photo_product.photo.url(:thumb) %>
   <%= link_to 'DELETE', product_photo_product_path(@product, photo_product), class: 'btn btn-success btn-xs', method: 'delete', data: { confirm: t('Are you sure?')}  %>
    </p>
  <% end %>

  <%= form_for([@product, @product.photo_products.build]) do |f| %>
    <p>
    <%= f.label :photo, 'Foto' %><br />
    <%= f.file_field :photo %>
    </p>
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
          <span class="glyphicon glyphicon-floppy-disk"></span> Enviar foto
      <% end %>
  <% end %>
    </div>
  </div><!-- /panel -->
<% end %>

</div><!-- /.container -->
