<% @page_title = "Produtos - Sematter Sementes" %>
<% @content_title = "Produtos" %>

<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Inicial', root_path %></li>
  <li class="active">Produtos</li>
</ol>
  <div class="row">
    <div class="col-lg-12">
      <div class="text-right">
      <% if user_signed_in? and current_user.admin == true %>
        <h2>
          <%= link_to new_product_path, :class => 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span> Adicionar
          <% end %>
        </h2>
        <% end %>
      </div>
    </div>
  </div> <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div id="busca-faixa" class="text-center">
        <%= form_tag(products_path, :class => 'navbar-form  form-inline', :role => 'search', :method => :get) do %>
          <div class="form-group">
              <select name="cultivation" class="form-control" id="cultivation">
                <option value="">Cultura comercial</option>
                <% Cultivation.all.collect do |p| %>
                <option value="<%= p.id %>"><%= p.name %></option>
                <% end %>
              </select>
          </div>
          <div class="form-group">
            <select name="cycle" class="form-control" id="cycle">
              <option value="">Intervalo entre as culturas comerciais</option>
              <% Cycle.all.collect do |p| %>
              <option value="<%= p.id %>"><%= p.description %></option>
              <% end %>
            </select>
          </div>
            <%= button_tag(type: "submit", class: "btn btn-busca") do %>
              <%= image_tag 'rx_busca.png', alt: 'Buscar', class: 'img-rx-busca', width: '27' %>
            <% end %> 
            <%= link_to 'Mostrar todos', products_path, class: 'btn btn-warning' %>
        <% end %>
      </div><!-- /#busca-faixa -->
    </div><!-- /col -->
  </div> <!-- /.row -->

  <div class="row">
    <% @products.each do |product| %>        
      <%= link_to product, class: 'col-lg-2 col-md-3 col-sm-3 col-xs-6 link-produto' do %>
              <div class="box-produto">
                <div class="no-hover">
                  <div class="no-hover-head">
                  </div>
                  <div class="no-hover-body">
                  <%= image_tag(product.photo(:medium), alt: product.name, class: 'img-responsive img-circle') %>
                                       
                        <%# image_tag 'mistura.jpg', alt: "Mistura", class: 'img-responsive img-circle' %>
                  </div><!-- /no-hover-body -->
                  <div class="no-hover-footer">
                    <div class="product-titulo">
                      <%= image_tag 'rx_medio.png', alt: "Raix", class: 'rx-image' %><%= product.name.upcase.sub(/RX /, "") %>
                      </div>
                    <span class="sombra"></span>
                  </div>
                </div><!-- /no-hover -->  
                <div class="hover">
                  <div class="hover-head">
                    <%= image_tag 'rx_medio-branco.png', alt: "Raix", class: 'rx-image' %><%= product.name.upcase.sub(/RX /, "") %>
                  </div>
                  <div class="hover-body" style="background-image:url('<%= product.photo.url(:original)%>);')">
                  <%= image_tag 'logo-raix-sobreposto.png', alt: "Raix", class: 'img-responsive btn-block' %>                 
                  </div><!-- /no-hover-body -->
                  <div class="hover-footer">                                          
                        <span class="texto-verde" style="text-transform: uppercase;">
                        CICLO <%= product.cycle.name.upcase %> <br>
                      <i><%= product.cycle.description %></i>
                      </span><br>
                      Indicado para a cultura de 
                        <%= product.cultivation.map(&:name).join(", ") %> 
                  </div>
                </div><!-- /hover -->                  
              </div><!-- /box-produto -->
      <% end %><!-- a/col -->
    <% end %>
  </div><!-- /row -->  
</div><!-- /.container -->