<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h2><%= t("products") %></h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-right">
        <h2>
          <%= link_to new_product_path, :class => 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span> Adicionar
          <% end %>
        </h2>
      </div>
    </div>
  </div> <!-- /.row -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('cycle') %></th>
        <th><%= t('cultivation') %></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product %></td>
          <td><%= product.cycle.name %></td>
          <td><%= product.cultivation.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><!-- /.container -->