<div class="container">
	<div class="row">
	    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	      <h2><%= @product.name %></h2>
	    </div>
	    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	    <% if user_signed_in? and current_user.admin == true %>
	      <div class="text-right">
	        <h2>
	          <%= link_to products_path, :class => 'btn btn-primary' do %>
	            <span class="glyphicon glyphicon-chevron-left"></span> Voltar
	          <% end %> 
	          <%= link_to edit_product_path(@product), :class => 'btn btn-success' do %>
	            <span class="glyphicon glyphicon-list-alt"></span> Editar
	          <% end %> 
	          <%= link_to product_path(@product), method: :delete, :class => 'btn btn-danger', data: { confirm: t('Are you sure?')  } do %>
	            <span class="glyphicon glyphicon-remove"></span> Apagar
	          <% end %> 
	        </h2>
	      </div>
	    <% end %>
	    </div>
	</div> <!-- /.row -->
	    <div class="panel panel-default">
	      <div class="panel-body">
	        <p>
	          <strong><%= t("name") %>:</strong>
	          <%= @product.name %>
	        </p>
	        <p>
			  <strong><%= t("cultivations") %>:</strong>
			  <% @product.cultivation.each do |cultivation| %>
			  	<%= cultivation.name %>
			  <% end %>
			</p>
			<p>
			  <strong><%= t("cycle") %>:</strong>
			  <%= @product.cycle.name %>
			</p>
			<p>
	          <strong><%= t("description") %>:</strong>
	          <%= @product.description %>
	        </p>
	        <% if user_signed_in? and current_user.admin == true %>
	       		<table class="table table-striped">
				    <thead>
				      <tr>
				        <th><%= t('benefits') %> para <%= @product.name %></th>
				        <th><%= t('stars') %></th>
				      </tr>
				    </thead>

				    <tbody>
				      <% @benefits.each do |products_purposes_relation| %>
				        <tr>
				          <td><%= link_to products_purposes_relation.purpose.name, edit_products_purposes_relation_path(products_purposes_relation) %></td>
				          <td><%= products_purposes_relation.stars %></td>
				        </tr>
				      <% end %>
				    </tbody>
			  	</table>
			<% else %>
	        <p><strong>Aplicações:</strong></p>
	        <table class="table table-striped">
			<% @product.products_purposes_relations.each do |relation| %>
				<tr>
					<td>
					<div class="text-left">
						<%= relation.purpose.name %>
					</div>
					</td>
					<td>
						<div class="texto-verde">
							<% (1..relation.stars).each do %>
								<span class="glyphicon glyphicon-star"></span>
							<% end %>
						</div>
					<%# relation.stars %></td>
				</tr>
			<% end %>
			</table>
			<hr>		
			  <% end %>
	      </div><!-- /panel-body -->
	    </div><!-- /panel -->
</div><!-- /container -->


<%# num_stars = purpose.products_purposes_relations.map(&:stars).to_sentence.to_i %>
					<%# (1..num_stars).each do %>
						<%# <span class="glyphicon glyphicon-star"></span> %>
					<%# end %>
<%# purpose.products_purposes_relations.map(&:id) %>					

					<%#purpose.products_purposes_relations 
					#ProductsPurposesRelation.joins(:stars).where(:product_id => { :id => params[:participants] } )
					#beneficios = purpose.products_purposes_relations.includes( :model_options )
					%>
