<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title><%= @page_title || "Sematter Sementes" %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Sematter Sementes">
  <meta name="author" content="@michielin">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'application/favicon' %>
</head>
<body>
<!-- Flash messages -->
<% flash.each do |type, message| %>
  <div class="auto-close-alert alert <%= bootstrap_class_for(type) %> alert-dismissible fade in" role="alert" id="flash-message-wrapper">
    <div class="container">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= message %>
    </div><!-- /container -->
  </div>
<% end %><!-- /flash messages -->
<div id="menu-lg" class="visible-lg visible-md">
	<div class="container cabecalho">
                <div class="box-logo">
                    <%= link_to root_path do %>
		    			<%= image_tag "sematter-logo-verde-195x55.png", alt: "Sematter Sementes" %>
		    		<% end %>
                </div>
                <div class="box-pesquisa-social pull-right">
                    <%= link_to 'https://www.facebook.com/semattersementes/', target: '_blank' do %>
		    			<%= image_tag "link-facebook.png", alt: "Facebook", class: 'img-responsive' %>
		    		<% end %>
                </div>
            	<%= scroll_reveal animation: 'enter top move 50px, after 0.2s' do %>
                <div class="box-menu">
                    <ul class="list-unstyled">
                        <li class="">
                        
                            <li class="<%= static_active?('adubacao-verde') %>"><%= link_to 'ADUBAÇÃO VERDE', page_path('adubacao-verde') %></li>
                        
							<li class="<%= active?('products')%>"><%= link_to "PRODUTOS", products_path %></li>
							<li class="<%= static_active?('revenda') %>"><%= link_to "ONDE COMPRAR", page_path('revenda') %></li>
							<li class="<%= static_active?('noticias') %>"><%= link_to "NOTÍCIAS", page_path('noticias') %></li>				
							<li class="<%= active?('contacts')%>"><%= link_to "CONTATO", contacts_path %></li>
							<% if user_signed_in? and current_user.admin == true %>
								<li class="dropdown">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ADMIN <span class="caret"></span></a>
						          <ul class="dropdown-menu">
						          	<li class="<%= active?('banners')%>"><%= link_to "Banners", banners_path %></li>
						          	<li class="<%= active?('cultivations')%>"><%= link_to "Cultivos", cultivations_path %></li>
									<li class="<%= active?('cycles')%>"><%= link_to "Ciclos", cycles_path %></li>
									<li class="<%= active?('purposes')%>"><%= link_to "Objetivos", purposes_path %></li>
									<li class="<%= active?('products')%>"><%= link_to "Produtos", products_path %></li>
								  </ul>
			        			</li>
		        			<% end %>
                    </ul>
                </div>
            	<% end %> <!-- /scrollreveal -->
    </div>
</div><!-- /menu-lg -->



<nav class="navbar navbar-default visible-xs visible-sm">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
		    <%= link_to root_path, :class => 'navbar-brand' do %>
		    	<%= image_tag 'sematter-logo-small.png', class: 'img-responsive' %>
		    <% end %>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right" id="menu">
			<ul class="nav navbar-nav">
				<li class="<%= static_active?('adubacao-verde') %>"><%= link_to 'ADUBAÇÃO VERDE', page_path('adubacao-verde') %></li>
				<li class="<%= active?('products')%>"><%= link_to "PRODUTOS", products_path %></li>
				<li class="<%= static_active?('revenda') %>"><%= link_to "ONDE COMPRAR", page_path('revenda') %></li>
				<li class="<%= static_active?('noticias') %>"><%= link_to "NOTÍCIAS", page_path('noticias') %></li>				
				<li class="<%= active?('contacts')%>"><%= link_to "CONTATO", contacts_path %></li>
				<% if user_signed_in? and current_user.admin == true %>
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ADMIN <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		          	<li class="<%= active?('banners')%>"><%= link_to "Banners", banners_path %></li>
		          	<li class="<%= active?('cultivations')%>"><%= link_to "Cultivos", cultivations_path %></li>
					<li class="<%= active?('cycles')%>"><%= link_to "Ciclos", cycles_path %></li>
					<li class="<%= active?('purposes')%>"><%= link_to "Objetivos", purposes_path %></li>
					<li class="<%= active?('products')%>"><%= link_to "Produtos", products_path %></li>
		          </ul>
		        </li>
		        <% end %>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
<%= render partial: 'layouts/titulo' unless controller_name == 'welcome' %>

<%= yield %>

<!-- Footer -->
<footer>
  <div class="container">
  	<section class="rodape">
              <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div>
	                    <%= scroll_reveal animation: 'enter bottom move 50px, after 0.4s' do %>
	                      <%= link_to root_path do %>
	                          <%= image_tag 'sematter-logo-verde-195x55.png', :alt => 'Sematter', :class => 'img-responsive center-block logo-footer' %>
	                        <% end %>
	                    <% end %>
					</div>
	                    <br><br>
	                      <% if user_signed_in? %>
	                        <%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-user"></span> <%= current_user.email %><% end %>
	                        <br>
	                        <%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Sair <% end %>
	                         <br>
	                      <% else %>
	                        <%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in"></span> Login <% end %>
	                        <br>
	                      <% end %>
	                      <%= link_to 'https://mail.zoho.com/' do %>
	                      <span class="glyphicon glyphicon-envelope"></span> Webmail
	                      <% end %>
	                      <div class="visible-xs"><hr></div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                       <span class="texto-verde">Sematter Sementes</span> <br />
                        Rua Arno Erich Schwambach, 990  <br />
                        Bairro Industrial, CEP: 89900-000 <br />
                        São Miguel do Oeste - SC <br />
                        Fone: (49)3622-8263 <br />
                        comercial@semattersementes.com.br<br />
					<div class="visible-xs"><hr></div>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-3 col-xs-12">
                       <span class="texto-verde">Acesso rápido</span> <br />
                      <%= link_to 'Inicial', root_path  %><br>
                      <%= link_to 'Adubação verde', page_path('adubacao-verde') %> <br>  
                      <%= link_to "Produtos", products_path %> <br>
                      <%= link_to "Onde Comprar", page_path('revenda') %> <br>
                      <%= link_to "Notícias", page_path('noticias') %> <br>
                      <%= link_to "Contato", contacts_path %>
					<div class="visible-xs"><hr></div>
                  </div>                  
                  <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 text-center">
                  <div class="visible-md visible-sm"><hr></div>
	                  <div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
	               
	                  <div class="fb-page" data-href="https://www.facebook.com/semattersementes/"  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/semattersementes/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/semattersementes/">Sematter Sementes</a></blockquote></div>
	            </div>
              </div><!-- /.row -->
              <hr>
              <div class="row" style="padding-bottom: 50px; padding-top: 30px">
              	<div class="col-md-8">
              	<span class="glyphicon glyphicon-copyright-mark"></span> 2017 SEMATTER SEMENTES- Todos os direitos reservados
              	</div>
              	<div class="col-md-4">
					<%= link_to "http://www.ionar.com.br", target: '_blank' do %>
	              		<%= image_tag 'logo_ionar.png', :alt => 'Ionar', :class => 'pull-right img-responsive' %>
	            	<% end %>
              	</div>
              </div><!-- /.row -->
    </section><!-- /.rodape -->
  </div><!-- /.container -->
</footer>
<!--
<div id="cab">
	<div class="container">
		<div class="logo-principal">
			<%# link_to root_path do %>
		    	<%# image_tag "sematter-logo-195x55.png", alt: "Sematter Sementes" %>
		    <%# end %>
		</div>
	</div>
</div>
-->
</body>
</html>
